* {
  font-family: "Nunito"; 
}

:root {
  --blue-cake: #605bff;
}

.flex-container {
  display: flex;
  height: 100vh;
  overflow: auto;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  flex-direction: column;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.ct-logo {
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center;
}

.logo-navbar {
  width: 180px;
}

.rs-sidenav-body,
.rs-sidenav-nav,
.rs-dropdown,
nav {
  background: #fff !important;
}

.rs-sidenav-nav .rs-sidenav-item,
.rs-sidenav-nav .rs-dropdown .rs-dropdown-menu li .rs-dropdown-item,
.rs-sidenav-nav .rs-dropdown .rs-sidenav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 14px;
  background-color: #fff;
}

.rs-sidenav-nav .rs-sidenav-item span,
.rs-sidenav-nav .rs-dropdown .rs-dropdown-menu li .rs-dropdown-item span,
.rs-sidenav-nav .rs-dropdown .rs-sidenav-item span {
  font-weight: 600;
  font-size: 16px;
  margin-left: 16px;
}

.rs-sidenav-nav .rs-sidenav-item svg,
.rs-sidenav-nav .rs-dropdown .rs-dropdown-menu li .rs-dropdown-item svg,
.rs-sidenav-nav .rs-dropdown .rs-sidenav-item svg {
  width: 26px !important;
  color: var(--blue-cake);
}

.hide-btn{
  padding: 0;
  border: transparent;
}

.hide-btn:focus,
.hide-btn:active{
  background-color: transparent !important;
  transition: none !important;
}

.ct-user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 30px 0;
}

.ct-user .ct-info-user{
    margin-left: 4px;
}

.ct-user .ct-info-user h4{
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
}

.ct-user .ct-info-user span{
    font-weight: 400;
    font-size: 10px;
    color: rgba(0, 0, 0, .7);
}
