:root {
  --aprobar: #2de71d;
  --revisar: #5b93ff;
  --compartir: #000af9;
  --descargar: #185abd;
  --editar: #f6b400;
  --borrar: #e71d36;
}

.table-header {
  background-color: transparent;
  border: transparent;
  text-align: center;
}

.table-header .head-column {
  font-size: 12px;
  font-weight: 400;
}

.row-column {
  padding: 20px 0;
  text-align: center;
  box-shadow: 1px 17px 44px rgba(3, 2, 41, 0.07) !important;
  background: #fff !important;
  border: transparent !important;
}

td {
  font-size: 14px;
  font-weight: 400;
  color: #030229;
}

tr td:nth-child(1) {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  width: 60px;
}

tr td:nth-child(2),
tr td:nth-child(5) {
  width: 100px;
}

tr td:nth-child(3) {
  max-width: 130px;
}

tr td:nth-child(6) {
  max-width: 90px;
}

tr td:nth-child(7) {
  max-width: 120px;
}

tr td:nth-child(8) {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

tr td:nth-child(9),
tr th:nth-child(9) {
  display: none;
}
tr td:nth-child(10),
tr th:nth-child(10) {
  display: none;
}
tr td:nth-child(11),
tr th:nth-child(11) {
  display: none;
}
tr td:nth-child(12),
tr th:nth-child(12) {
  display: none;
}
tr td:nth-child(13),
tr th:nth-child(13) {
  display: none;
}
tr td:nth-child(14),
tr th:nth-child(14) {
  display: none;
}
tr td:nth-child(15),
tr th:nth-child(15) {
  display: none;
}
tr td:nth-child(16),
tr th:nth-child(16) {
  display: none;
}
tr td:nth-child(17),
tr th:nth-child(17) {
  display: none;
}
 tr td:nth-child(18),
tr th:nth-child(18) {
  display: none;
}
tr td:nth-child(19),
tr th:nth-child(19) {
  display: none;
}
tr td:nth-child(20),
tr th:nth-child(20) {
  display: none;
}


td.no-borders {
  background: none !important;
  box-shadow: none !important;
  border-radius: none !important;
  border: none !important;
}

.inProcess {
  background-color: #2669efe8 !important;
}

.inProcess,
.confirmed {
  padding: 8px 0;
  width: 77%;
  border-radius: 33px;
  opacity: 0.9;
}

.inProcess span,
.confirmed span {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.confirmed {
  background-color: #02b308 !important;
}

.accion-drop .rs-btn-icon {
  background: transparent;
}

.accion-drop .rs-btn-icon > svg {
  width: 28px;
}

.accion-drop ul {
  transform: translateX(-50%);
}

.accion-drop ul li:hover {
  background: rgba(192, 213, 255, 0.1);
}

.accion-drop ul li span {
  font-weight: 600;
  margin-left: 8px;
}

.accion-drop ul li.i-revisar {
  color: var(--revisar);
}

.accion-drop ul li.i-aprobar {
  color: var(--aprobar);
}

.accion-drop ul li.i-borrar {
  color: var(--borrar);
}

.accion-drop ul li.i-descargar {
  color: var(--descargar);
}

.accion-drop ul li.i-compartir {
  color: var(--compartir);
}

.accion-drop ul li.i-editar {
  color: var(--editar);
}

.ct-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin-bottom: 25px;
}

.ct-search input[type="search"] {
  border: solid 3px #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-size: 1em;
  height: 2.8em;
  padding: 0.5em;
  width: 30vw;
  z-index: 1;
}
