:root {
  --btn-primary: #004bf9;
  --btn-primary-focus: #0035af;
  --btn-secondary: #ffe202;
  --btn-secondary-focus: #eed305;
  --btn-third: #e71d1d;
  --btn-third-focus: #c81818;
  --is-added-ok: #028306;
  --is-added-not: #ea0e0e;
}

.create-acta-main-header {
  padding-left: 15px;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 6px;
  background: rgb(0, 48, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 48, 255, 1) 0%,
    rgba(142, 167, 228, 1) 52%,
    rgb(239, 242, 248) 100%
  );
  color: #fff;
}

.create-acta-header {
  padding-left: 15px;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 6px;
  border-bottom: 2px solid rgba(0, 48, 255, 1);
  color: #111;
}

.formulario {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.7s;
}

.formulario.oculto {
  opacity: 0;
}

.tabla-participantes-header{
  width:80%;
  text-align: center;
}

.form-control-custom,
.MuiInputBase-root {
  height: 38px;
}

.cronograma-textarea{
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}

.MuiInputBase-root {
  width: 100%;
}

.custom-btn {
  border: transparent;
  box-shadow: none;
  transition: 0.2s ease-in-out;
}

.custom-btn:focus {
  box-shadow: 1px 0 18px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.custom-primary {
  background-color: var(--btn-primary);
}

.custom-primary:focus {
  color: #fff;
  background-color: var(--btn-primary-focus);
}

.custom-secondary {
  color: #000;
  background-color: var(--btn-secondary);
}

.custom-secondary:focus {
  color: #000;
  background-color: var(--btn-secondary-focus);
}

.custom-third {
  background-color: var(--btn-third);
}

.custom-third:focus {
  color: #fff;
  background-color: var(--btn-third-focus);
}

.custom-btn .small-btn-text {
  font-size: 12px;
  font-weight: 600;
}

.alert-is-added {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
}

.is-added-ok {
  background: var(--is-added-not);
  color: #fff;
}

.tag-miembro {
  padding: 8px 15px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 700;
}

.tag-pres {
  background: rgba(1, 164, 20, 0.8);
  color: #fff;
}

.tag-inv {
  background: rgba(246, 255, 0, 0.8);
  color: #111;
}

.tag-aus {
  background: rgba(247, 2, 2, 0.8);
  color: #fff;
}
